# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Environment
.env
*.env.local

# Editors
.vscode/settings.json
.idea/
*.swp
*~

# Testing / Coverage
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# DB
*.db
*.sqlite3
